*
  margin: 0
  padding: 0
  outline: none
  box-sizing: border-box
  font-family: "Open Sans", sans-serif
  user-select: none

/* 
 font-family: 'Open Sans', sans-serif
 font-family: 'Roboto', sans-serif
 font-family: 'Roboto Condensed', sans-serif
 font-family: 'Roboto Slab', serif
 font-family: 'Ubuntu', sans-serif; */

h2
  text-align: center
  margin: 2vh
  font-family: "Open Sans", sans-serif

body
  background: #303030
  display: flex
  justify-content: center

form
  margin-top: 15%

input[type="text"],
input[type="password"]
  text-align: center
  width: 100%
  color: #383838
  border: none
  padding: 5px
  margin: 5px
  transition: 0.2s ease

input[type="text"]
  background: url(assets/user.svg) no-repeat 10px 10px
  background-size: 10px
  &:hover
    color: #f2f2f2
    background: #2e2e2e
    border-radius: 10px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
    transform: scale(1.1)
  
input[type=password]
  background: url(assets/lock.svg) no-repeat 10px 10px
  background-size: 10px
  &:hover
    color: #f2f2f2
    background: #2e2e2e
    border-radius: 10px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
    transform: scale(1.1)

input[type=button]
  width: 100%
  margin: 5px
  padding: 5px
  border: none
  color: #f2f2f2
  margin-top: 2vh
  background: #ef233c
  border-radius: 10px
  transition: .2s ease
  &:hover
    background: #b91c2e
    transform: translateY(-.3vh)
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5)
  &:active
    background: #b91c2e
    transform: translateY(0)
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5)

.box
  border-radius: 10px
  margin-top: 25vh
  width: 300px
  height: 300px
  display: flex
  justify-content: center
  background: #f2f2f2

.shake
  animation: shake 1s ease both

@keyframes shake
  10%
    border: solid #d82035
    border-radius: 10px
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2)
    transform: translateX(-10px)

  20%
    border: solid #d82035
    border-radius: 10px
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2)
    transform: translateX(10px)

  40%
    border: solid #d82035
    border-radius: 10px
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2)
    transform: translateX(-10px)

  60%
    border: solid rgba(216, 32, 53, 0.5)
    border-radius: 10px
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.1)
    transform: translateX(10px)

  80%
    border: solid rgba(216, 32, 53, 0.2)
    border-radius: 10px
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.01)
    transform: translateX(0)

  100%
    border: solid rgba(216, 32, 53, 0)
    border-radius: 10px
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.0)
    border-radius: 10px
    transform: translateX(0)
    box-shadow: none
